:root{
    height: 100vh;
    max-width: 100vw;
    font-family: 'Fira Sans', system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
}

body{
    height: 100%;
    width: 100%;
    display: flex;
    flex-direction: column;
    flex: 1;
}

/*--------------------
CSS Vars - colors and sizes
--------------------*/
:root{
    --stone:#e1e1e1;
    --mint:#4ade80;
    --white-bg:#f5f5f5;
    --forest-green:#14532d;
    --gas:#fde047;
    --black-bg: #262626;
}



/*-------------------
Header styling
-------------------*/

header{
    display: flex;
    justify-content: center;
    align-items: center;
}
header>figure>.svg{
    height: 5rem;
}


header>h1{
    font-size: 4.2rem;
    font-weight: 500;
}

/*-------------------
main styling
-------------------*/

section.book-addition>button{
    font-size: 1.5rem;
    border-radius: 8px;
}

main>section.book-addition{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 1.5rem 0;
}

main{
    background-color: var(--stone);
    flex-grow: 1;
    position: relative;
    padding: 3vh 5vw;
}

section.grid-container{
    display: grid;
    justify-items: center;
    gap: 2.5rem;
    grid-template-columns: repeat(auto-fit,minmax(20rem,1fr));
}

/*-------------
Modal Styling:
------------*/
.modal{
    display: none;
    position: fixed;
    z-index: 0;
    left: 0;
    top: 0;
    overflow: auto;
    width: 100%;
    height: 100%;
    background-color: rgba(0,0,0,0.4);
}

.modal-content{
    background-color: var(--stone);
    margin: 15vh auto;
    padding: 1rem;
    border: 1px solid #888;
    width: max(20vw,10rem);
    border-radius: 15px;
}

.modal-content>form{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 1.2rem;
}

.modal-content>form>*{
    margin: 5px 0;
}



input{
    max-width: 70%;
    font-size: min(1.5rem,3vw);
}


/* The Close Button */
.close {
    color: #aaa;
    float: right;
    font-size: 2rem;
    font-weight: bold;
  }
  
  .close:hover,
  .close:focus {
    color: black;
    text-decoration: none;
    cursor: pointer;
  }


/*--------------
Cards styling
--------------*/


.card{
    width:min(20rem,65%);
    height: 20rem;
    background-color: var(--white-bg);
    border-radius: 15px;
    display: flex;
    flex-direction: column;
    position: relative;
    align-items: center;
}

.card>button.read-btn{
    position:absolute;
    top:90%;
    left: auto;
}

.card>span.close{
    position: absolute;
    top: 0;
    right: 2px;
}

/*Card-values*/
.card-value{
    margin-top: 15%;
}
.card-value::before{
    font-weight: 650;
}
.card-value:nth-child(3)::before{
    content: 'Book title: ';
}

.card-value:nth-child(4)::before{
    content: 'Author: ';
}

.card-value:nth-child(5)::before{
    content: 'Pages: ';
}

/*Card-is-read*/
.card>[data-card-value="3"]{
    display: none;
}
.card.read:after{
    margin-top: 15%;
    content: '✓ You read this book!';
}

